# -*- coding: utf-8 -*-

SETTINGS = dict (
    DATABASE = 'dev_blog2',
    SITE_URL = 'http://tuzii.me',
    EMAIL = '',
    MAIN_TITLE = u'Sea_Kudo的博客',
    SMTP_SERVER = 'smtp.gmail.com',
    SMTP_PORT = 587,
    SMTP_USER = '',
    SMTP_PASSWORD = '',
    debug = True
)
